body{
	background: #02010a;
	font-family:dancing script;
	animation: animacion1 1.5s;
	
}
@-webkit-keyframes animacion1{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}

header{
	background-color:#5b7989;
	border-radius:10px 10px 0px 0px;
	color:white;
	height:20%;
	
	
}
h1{
	text-align:center;
	margin-top:2.5%;
	margin-bottom:0;
	padding-left:2%;
	text-shadow:2px 2px #02010a;
	
}
nav{
	text-align:center;
	height:10%;
	
	
}
nav a{
	font-size:1.5em;
	color: white;
	margin:10%;
	margin-left:5%;
	margin-right:5%;
	
}
#a1{
	text-decoration:none;
}

footer{
	width:100%;
	border-radius:0px 0px 10px 10px;
	background-color:#C6d5c5;
	
	position:relative;
	bottom:0px;
	
}
.pie{
	
	text-align:center;
}
h2{
	margin-bottom:0;
}
a img{
	width:5%;
}
@media (min-width: 900px){
	body{
		width:900px;
		margin-left:auto;
		margin-right:auto;
		}
	header{
			display:flex;
		}
	h1{
		width:70%;
		text-align:left;
	}
	nav{
		width:30%;
		display:flex;
		float:right;
	}
	footer{
		
		display:flex;
		
	}
	.pie{
		width:25%;
	}
}
