body{
	background: #02010a;
	font-family:dancing script;
	animation: animacion1 1.5s;	
}
@-webkit-keyframes animacion1{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}
header{
	background-color:#5b7989;
	border-radius:10px 10px 0px 0px;
	color:white;
	height:20%;
}
h1{
	text-align:center;
	margin-top:2.5%;
	margin-bottom:0;
	padding-left:2%;
	text-shadow:2px 2px #02010a;
}
nav{
	text-align:center;
	height:10%;
}
nav a{
	font-size:1.5em;
	color: white;
	margin:10%;
	margin-left:5%;
	margin-right:5%;	
}
#a1{
	text-decoration:none;
}
footer{
	border-radius:0px 0px 10px 10px;
	background-color:#C6d5c5;
}
.pie{
	text-align:center;
	flex-direction:column;
}
h2{
	margin-bottom:0;
}
.logo{
	width:5%;
}
.imsec{
	box-shadow:2px 2px  #02010a;
}
#contenido{
	background-color:#82c3a6;
	padding-top:2%;
	padding-bottom:2%;
}
#imagen-central{
	width:60%;
	margin-left:20%;
	margin-right:20%;
	box-shadow:2px 2px  #02010a;
}
#contenido1{
	width:;
	background-color: #d5c75f;
	padding-top:2%;
	padding-bottom:2%;
}
#contenido1 a img{
	width:50%;
}
.dimg{
	text-align:center;
}
@media (min-width : 900px){
	body{
		width:900px;
		margin-left:auto;
		margin-right:auto;
		}
	header{
			display:flex;
		}
	h1{
		width:70%;
		text-align:left;
	}
	nav{
		width:30%;
		display:flex;
		float:right;
	}
	footer{
		display:flex;
	}
	.pie{
		width:25%;
	}
	#contenido1{
		width:100%;
		display:flex;
		flex-flow:row wrap;
	}
	.dimg{
		width:50%;
	}
	.dimg a img{
		width:80%;
	}
}
#leon{
	transition-property:border,transform,box-shadow;
	transition-duration:1s;
	border:1px solid black;
}
#leon:hover{
	transform:rotate(10deg);
	border:2px solid black;
	box-shadow:3px 3px #82c3a6;
}
#perro{
	transition-property:border,transform,box-shadow;
	transition-duration:1s;
	border:1px solid black;
}
#perro:hover{
	transform:translate(20px,-5px);
	border:2px solid black;
	box-shadow:3px 3px #82c3a6;
}